<h2>Banking Summary</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Person</th>
			<th>Agreed Contribution</th>
			<th>Paid</th>
			<th>Owe</th>
			<th>Balance</th>
		</tr>
	</thead>
	<tbody>
	  <% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td></td>
				<td><%= @transactions.total_spend_by_user(user.id) %></td>
				<td></td>
				<td></td>
			</tr>
		<% end %>
	</tbody>
</table>